# ======================
# Miscellaneous
# ======================
*.class
*.log
*.pyc
*.swp
.DS_Store
.migrate_working_dir/
.history/
.build/
.buildlog/
.svn/
.swiftpm/

# ======================
# IDE / Editor files
# ======================
*.iml
*.ipr
*.iws
.idea/
.vscode/  # Optional: keep if you want VS Code settings in repo

# ======================
# Flutter / Dart / Pub
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Generated docs
**/doc/api/

# ======================
# iOS / Android specific
# ======================
**/ios/Flutter/.last_build_id
**/android/app/debug
**/android/app/profile
**/android/app/release

# Android Gradle
**/.gradle/
**/build/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json
